---

import Layout from '../layouts/Layout.astro'
import VectorProjectionCanvas from '../components/canvas/VectorProjectionCanvas.astro'
import ParticleCollisionCanvas from '../components/canvas/ParticleCollisionCanvas.astro'
import AABBProjectionCanvas from '../components/canvas/AABBProjectionCanvas.astro'
import VoronoiTriangleCanvas from '../components/canvas/VoronoiTriangleCanvas.astro'

---

<Layout title="Ryan's Blog">
	<h1>Welcome to Ryan's Blog</h1>

	<h3>Voronoi Triangle</h3>
	<VoronoiTriangleCanvas />

	<h3>AABB Projection</h3>
	<AABBProjectionCanvas />

	<h3>Bounce and Friction</h3>
	<ParticleCollisionCanvas />

	<h3>Vector Projection</h3>
	<VectorProjectionCanvas />
</Layout>
